@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputWrapper {
    max-width: 380px;
    margin: 0 auto;
}

.stepperBox {
    max-width: 400px;
}

.planningContainer {
    width: 170px;
    min-height: 170px;
    border: 1px solid gray;
    border-radius: 6px;
}

.active {
    border: 1px solid #664DE5;
}

@media (max-width:500px) {
    .box {
        width: 350px;
    }
}